@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700;900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: black;
}

h2 {
  padding: 50px;
}

h3 {
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
}

p {
  font-size: 12px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logoNav {
  -webkit-mask: url("images/Logo PUSH - Vectorial.svg") no-repeat center;
          mask: url("images/Logo PUSH - Vectorial.svg") no-repeat center;
  -webkit-mask-size: 80px;
          mask-size: 80px;
  background-color: white;
  width: 80px;
  height: 20px;
  margin-right: 10px;
}

nav ol {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  list-style-type: none;
  padding: 0 10px;
}

nav li a {
  color: white;
}

nav li a:visited {
  color: white;
}

nav li:hover {
  font-weight: 700;
}

#introduction {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduction img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

#introduction svg {
  position: absolute;
  font-size: 15em;
  font-weight: bold;
  text-transform: uppercase;
  top: 0;
  left: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: introduction;
          animation-name: introduction;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes introduction {
  from {
    font-size: 15em;
  }
  85% {
    font-size: 10em;
  }
  to {
    font-size: 15em;
  }
}

@keyframes introduction {
  from {
    font-size: 15em;
  }
  85% {
    font-size: 10em;
  }
  to {
    font-size: 15em;
  }
}

#introduction rect {
  fill: white;
  opacity: 90%;
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

#introduction h1 {
  position: absolute;
  margin: auto;
  padding-top: 180px;
  -webkit-animation-name: inner-left;
          animation-name: inner-left;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
  opacity: 1;
}

@-webkit-keyframes inner-left {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inner-left {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#partenaires {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3) url("images/Miguel Neves - Basejump with wingsuit.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-blend-mode: overlay;
}

#partenaires h2 {
  color: white;
}

#partenaires .partenaire {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#partenaires .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#partenaires .logo h3 {
  color: white;
}

#partenaires .logo img {
  width: 250px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#partenaires .logo img:hover {
  width: 500px;
  max-width: 100vw;
}

#coaching {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 50px 0;
  background-color: #fcfcfc;
}

#coach-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 50px 0;
}

#coach-box img {
  height: 420px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box {
  width: 33%;
  padding: 25px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: -50px;
  z-index: 1;
  background-color: white;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 25px 25px;
  margin: 50px;
  font-size: 11px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border-color: #013C69;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #013C69;
  -webkit-box-shadow: 0px 15px 20px rgba(1, 60, 105, 0.4);
          box-shadow: 0px 15px 20px rgba(1, 60, 105, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#second {
  background-image: url("images/Miguel Neves - Snowboard Coach - 2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.citation h3 {
  font-style: italic;
  padding: 150px 50px 50px;
  font-size: 24px;
  font-weight: bold;
}

.profil-pics {
  -webkit-mask-image: url("images/mask-image.png");
          mask-image: url("images/mask-image.png");
  -webkit-mask-size: 80% 80%;
          mask-size: 80% 80%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#coach-box:hover .profil-pics {
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
}

#reseauxSociaux {
  width: 100%;
  padding: 0 0 50px 0;
  background-color: #e0e0e0;
}

#reseauxSociaux .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#reseauxSociaux .container .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#reseauxSociaux .container .button:hover {
  width: 200px;
}

#reseauxSociaux .container .icon {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
}

#reseauxSociaux .container .button:nth-child(1):hover .icon {
  background-color: #166FE5;
}

#reseauxSociaux .container .button:nth-child(2):hover .icon {
  background-color: #D72B7E;
}

#reseauxSociaux .container .button:nth-child(3):hover .icon {
  background-color: #FF0000;
}

#reseauxSociaux .container .button:nth-child(4):hover .icon {
  background-color: #31BA45;
}

#reseauxSociaux .container i {
  font-size: 25   px;
  line-height: 60px;
}

#reseauxSociaux .container .button:hover .icon i {
  color: white;
}

#reseauxSociaux .container span {
  margin-left: 10px;
  line-height: 60px;
}

.gototop {
  position: fixed;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  -webkit-transition: all .1s;
  transition: all .1s;
  z-index: 10;
}

.gototop i {
  color: white;
  font-size: 15px;
}

.gototop:hover {
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.gototop:hover i {
  font-size: 22px;
}

#contact {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

#titre {
  padding: 100px 50px 50px 50px;
}

.calendly-inline-widget {
  height: 800px;
  min-width: 320px;
}

@media (orientation: portrait) {
  nav .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ol {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav li {
    list-style-type: none;
    padding: 0 10px;
  }
  nav li img {
    height: 30px;
  }
  @-webkit-keyframes introduction {
    from {
      font-size: 5em;
    }
    75% {
      font-size: 7em;
    }
    to {
      font-size: 5em;
    }
  }
  @keyframes introduction {
    from {
      font-size: 5em;
    }
    75% {
      font-size: 7em;
    }
    to {
      font-size: 5em;
    }
  }
  #partenaires {
    background-size: auto 100vh;
  }
  #coach-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #coach-box:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .profil-pics {
    margin-top: -50px;
  }
  .box {
    width: 70%;
    margin-left: 0;
    margin-top: -100px;
  }
  button {
    padding: 20px 40px;
    margin: 10px;
  }
  #second {
    background-size: auto 100vh;
    -webkit-clip-path: none;
            clip-path: none;
  }
  #introduction svg {
    font-size: 5em;
  }
  #introduction img {
    max-width: 100%;
    height: 100vh;
  }
  #introduction h1 {
    font-size: 1em;
    padding-top: 100px;
  }
  .gototop {
    bottom: 10px;
    right: 25px;
  }
  .calendly-inline-widget {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 880px;
  }
}
/*# sourceMappingURL=main.css.map */